@model IEnumerable<Vets.Models.Veterinarios>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumPorta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Andar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodPostal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NIF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEntradaClinica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumCedulaProf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInscOrdem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Faculdade)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rua)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumPorta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Andar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodPostal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NIF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEntradaClinica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumCedulaProf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInscOrdem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Faculdade)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.VeterinarioID }) |
                @Html.ActionLink("Details", "Details", new { id=item.VeterinarioID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.VeterinarioID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
