@model Vets.Models.Donos

@{
    ViewBag.Title = "Delete";
}

<h2>Remover ficha de <i><b>cliente</i></b></h2>

<h3>Tem a certeza que pretende apagar?</h3>



<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NIF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NIF)
        </dd>

    </dl>

    


    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Remover" class="btn btn-default" /> |
            @Html.ActionLink("Regressar à Listagem", "Index")
        </div>
    }

    <!--adicionado esta linha de código-->
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


</div>
